body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size:100%;
  font-weight: 500;

}

.wrapper {
	background-color: #F2CD77;
	margin: auto;
	padding: 3px;
	width:200px;

}
.package{
	padding:3px;
	text-align:center;
}
input {
	resize: horizontal;
    width: 120px;
	resize: vertical;
    height: 20px;    
}


